<h3>Menu Edit</h3>
<div class="row" ng-controller="menuEditCtrl" id="menuEditCtrl">
    <button class="btn btn-lg"><span class="glyphicon-plus"> Add Menu Item</span></button>
    <table class="table">
        <thead>
            <th>Dish Name</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </thead>
        <tr class="bg-success">
            <th colspan="5">Starters</th>
        </tr>
        <tr  ng-repeat="mi in menuItems | filter:{ Type: 'starter' }">
            <td>{{mi.Name}}</td>
            <td>{{mi.Description}}</td>
            <td>{{mi.Price}}</td>
            <td>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-default" data-ng-click="deleteMenuItem(mi._id)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
        <tr class="bg-success">
            <th colspan="5">Main Dishes</th>
        </tr>
        <tr  ng-repeat="mi in menuItems | filter:{ Type: 'main' }">
            <td>{{mi.Name}}</td>
            <td>{{mi.Description}}</td>
            <td>{{mi.Price}}</td>
            <td>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-default" data-ng-click="deleteMenuItem(mi._id)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
        <tr class="bg-success">
            <th colspan="5">Salads</th>
        </tr>
        <tr  ng-repeat="mi in menuItems | filter:{ Type: 'salad' }">
            <td>{{mi.Name}}</td>
            <td>{{mi.Description}}</td>
            <td>{{mi.Price}}</td>
            <td>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-default" data-ng-click="deleteMenuItem(mi._id)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
        <tr class="bg-success">
            <th colspan="5">Drinks</th>
        </tr>
        <tr  ng-repeat="mi in menuItems | filter:{ Type: 'drink' }">
            <td>{{mi.Name}}</td>
            <td>{{mi.Description}}</td>
            <td>{{mi.Price}}</td>
            <td>
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-default" data-ng-click="deleteMenuItem(mi._id)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </table>
</div>
