<h3>Menu Edit</h3>
<div class="row" ng-controller="menuEditCtrl" id="menuEditCtrl">
    <div ui-view></div>

    <table class="table">
        <thead>
        <th>Dish Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Type</th>
        <th></th>
        <th></th>
        </thead>
        <tr class="bg-success">
            <th colspan="5">Starters</th>
        </tr>
       <tr>

            <td><input type="text" ng-model="newItem.Name" /></td>
            <td><input type="text" ng-model="newItem.Description" style="width: 500px" /></td>
            <td><input type="text" ng-model="newItem.Price" style="width: 100px" /></td>
            <td><input type="text" ng-model="newItem.Type" style="width: 100px" /></td>
            <td>
                <button type="button" class="btn btn-default" data-ng-click="addMenuItem(newItem)"  ui-sref="admin.menuedit_display"  ui-sref-opts="{reload: true, notify: true}">
                    <span class="glyphicon glyphicon-floppy-save"></span>
                </button>
            </td>
        </tr>
    </table>
</div>
