<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kitchen Orders</title>
    <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../public/css/random.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1>Restaurant Orders</h1>
    <hr/>
    <div>
        <table class="table">
            <thead>
                <tr class="bg-success">
                    <td class="col-xs-1">Finished</td>
                    <td class="col-xs-1">Order#</td>
                    <td class="col-xs-2">Order Time</td>
                    <td class="col-xs-1">Table#</td>
                    <td class="col-xs-1">Quantity</td>
                    <td>Dish</td>
                </tr>
            </thead>
            <tbody id="show-orders">
                <tr>
                    <td colspan="4">There're no orders... =(</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function() {
            var socket = io.connect('http://localhost:8080');
            //var orders = JSON.parse("{{ ordersArr }}".toJSON());
            //socket.emit('DisplayMenuItems');
            //if (orders.length != 0) {
            //    displayOrders();
            //}

            socket.on('displayOrders',function(ordersArr){
                displayOrders(ordersArr);
            })

            function displayOrders(ordersArr) {
                var orders = ordersArr;
                console.log(orders);
                var output = "";
                var finalOutput = "";
                var newOutput = "";
                var orderDishArr;
                var dishCount = 0;

                for (var i in orders) {
                    output = "";
                    newOutput = "";
                    dishCount = 0;
                    for (var j in orders[i].dishArr) {
                        orderDishArr = orders[i].dishArr
                        output += "<tr> <td> <b>" + orderDishArr[j].count
                                + " </b> </td> <td> <b>" + orderDishArr[j].name + "</b> </td></tr>";
                        dishCount++;
                    }

                    newOutput = output.slice(0, 4) + "<td rowspan='" + dishCount + "'>SUBMIT ME</td>"
                            + "<td rowspan='" + dishCount + "'>" + orders[i].orderNum + "</td>"
                            + "<td rowspan='" + dishCount + "'>" + orders[i].orderDate + "</td>"
                            + "<td rowspan='" + dishCount + "'>" + orders[i].tableNum + "</td>" + output.slice(4);
                    finalOutput += newOutput;
                }

                $("#show-orders").html(finalOutput);
            }
        });
    </script>
</body>
</html>